# Virtual environment folders
.venv/
venv/
env/
myenv/
jiraenv/

# Python virtual environment config file
pyvenv.cfg

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt

# Environments
.env
.venv
.myenv
.jiraenv
myenv/
myenv.bak/
env/
ENV/
jiraenv/
env.bak/
venv.bak/
jiraenv.bak/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings (optional)
.vscode/

# macOS files
.DS_Store

# Windows files
Thumbs.db
